<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <title></title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        #mapPage {
            width: 96%;
        }
    </style>
</head>

<body>
<iframe
        id="mapPage"
        width="100%"
        height="100%"
        frameborder=0
        src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=QC4BZ-5CLKF-PYTJZ-NXZMV-Q56KF-AGBRD&referer=myapp">
</iframe>
</body>

</html>